<div class="container">
  <%= form_for(@user, html: { class: 'form-horizontal', role: 'form' } ) do |f| %>
    <div class="input-group new-user-input-group has-feedback <%= 'has-error' if not @user.errors[:email].empty? %>">
      <span class="input-group-addon new-user-group-addon">Email</span>
      <% if @user.errors[:email].empty? %>
        <%= f.text_field :email, class: 'form-control col-sm-8 col-xs-6' %>
      <% else %>
        <%= f.text_field :email, class: 'form-control col-sm-8 col-xs-6', placeholder: @user.errors[:email] %>
        <span class="form-control-feedback glyphicon glyphicon-remove"></span>
      <% end %>
    </div>

    <div class="input-group new-user-input-group has-feedback <%= 'has-error' if not @user.errors[:first_name].empty? %>">
      <span class="input-group-addon new-user-group-addon">First Name</span>
      <% if @user.errors[:first_name].empty? %>
        <%= f.text_field :first_name, class: 'form-control col-sm-8 col-xs-6' %>
      <% else %>
        <%= f.text_field :first_name, class: 'form-control col-sm-8 col-xs-6', placeholder: @user.errors[:first_name] %>
        <span class="form-control-feedback glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
    <div class="input-group new-user-input-group has-feedback <%= 'has-error' if not @user.errors[:last_name].empty? %>">
      <span class="input-group-addon new-user-group-addon">Last Name</span>
      <% if @user.errors[:last_name].empty? %>
        <%= f.text_field :last_name, class: 'form-control col-sm-8 col-xs-6' %>
      <% else %>
        <%= f.text_field :last_name, class: 'form-control col-sm-8 col-xs-6', placeholder: @user.errors[:last_name] %>
        <span class="form-control-feedback glyphicon glyphicon-remove"></span>
      <% end %>
    </div>

    <div class="input-group new-user-input-group has-feedback">
      <span class="input-group-addon new-user-group-addon">Nationality</span>
      <%= f.select :nationality_id,
                   options_for_select(Nationality.all.map { |n| [n.name, n.id] }),
                   {}, { class: 'form-control select-picker' }
      %>
    </div>
    <div class="input-group new-user-input-group has-feedback <%= 'has-error' if not @user.errors[:password].empty? %>">
      <span class="input-group-addon new-user-group-addon">Password</span>
      <% if @user.errors[:password].empty? %>
        <%= f.password_field :password, class: 'form-control col-sm-8 col-xs-6' %>
      <% else %>
        <%= f.password_field :password, class: 'form-control col-sm-8 col-xs-6', placeholder: @user.errors[:password] %>
        <span class="form-control-feedback glyphicon glyphicon-remove"></span>
      <% end %>
    </div>

    <div class="input-group new-user-input-group has-feedback <%= 'has-error' if not @user.errors[:password_confirmation].empty? %>">
      <span class="input-group-addon new-user-group-addon">Confirm Password</span>
      <% if @user.errors[:password_confirmation].empty? %>
        <%= f.password_field :password_confirmation, class: 'form-control col-sm-8 col-xs-6' %>
      <% else %>
        <%= f.password_field :password_confirmation, class: 'form-control col-sm-8 col-xs-6', placeholder: @user.errors[:password_confirmation] %>
        <span class="form-control-feedback glyphicon glyphicon-remove"></span>
      <% end %>
    </div>
    <div class="actions text-center">
      <%= f.submit 'Register', class: 'btn btn-primary' %>
    </div>
  <% end %>
</div>