<%= form_for(@user) do |f| %>
  <% if @user.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@user.errors.count, "error") %> prohibited this user from being saved:</h2>

      <ul>
      <% @user.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :first_name %><br>
    <%= f.text_field :first_name %>
  </div>
  <div class="field">
    <%= f.label :last_name %><br>
    <%= f.text_field :last_name %>
  </div>
  <div class="field">
    <%= f.label :nationality_id %><br>
    <%= f.select :nationality_id, options_for_select(Nationality.all.map { |n| [n.name, n.id] }) %>
  </div>
  <div class="field">
    <%= f.label :role %><br>
    <%= f.collection_select :roles, Role.all, :id, :name,
                            { selected: @user.roles.map { |r| r.id } },
                            { multiple: true } %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
