<%= render 'shared/alert_box' %>
<div class="container">
  <div class="col-sm-6 col-sm-offset-3">
    <div class="form">
      <%= form_for @user, url: password_path do |f| %>
      <%= f.label :email %>
      <%= f.text_field :email %>
      <%= f.submit :reset %>
      <% end %>
    </div>
  </div>
</div>