<p id="notice"><%= notice %></p>

<p>
  <strong>First name:</strong>
  <%= @user.first_name %>
</p>

<p>
  <strong>Last name:</strong>
  <%= @user.last_name %>
</p>

<p>
  <strong>Nationality:</strong>
  <%= @user.nationality.name %>
</p>

<p>
  <strong>Roles:</strong>
  <ul>
    <% @user.roles.each do |role| %>
        <li><%= role.name %></li>
    <% end %>
  </ul>
</p>

<%= link_to 'Edit', edit_user_path(@user) %> |
<%= link_to 'Back', users_path %>
