<% if notice %>
    <div class="container">
      <div class="row">
        <div class="col-md-6 col-md-offset-3">
          <div class="alert alert-warning">
            <%= notice %>
          </div>
        </div>
      </div>
    </div>
<% end %>

<div class="container-fluid">
  <div class="row">
    <div class="col-sm-2" style="background: lightgoldenrodyellow;">
      <h2 class="text-center">Profile Data</h2>
      <p><%= "Name: #{@user.get_player_full_name}" %></p>
      <p><%= "Nationality: #{@user.nationality.name}" %></p>
      <p>Something else</p>
      <%= link_to 'Edit Profile', edit_user_path(@user), class: 'btn btn-primary' %>
    </div>
    <div class="col-sm-10">
      <h2 class="text-center">Current phase: <%= Tournament.first.get_current_phase.name %></h2>
      <table class="table table-responsive">
        <thead style="background: greenyellow;">
          <tr>
            <td>Table</td>
            <td>Score</td>
            <td>Points</td>
            <td>Table's standing</td>
          </tr>
        </thead>
        <tbody>
          <% @matches_played_by_player.each do |match| %>
            <% table = Table.find(match.table_id) %>
            <tr>
              <td><%= table.name %></td>
              <td><%= @matches_played_by_player.joins(:scores).select("scores.value").where("matches.table_id" => table.id).first.value %></td>
              <td><%= table.get_points_for_player_in_current_phase(params[:id], Tournament.first.get_current_phase) %></td> <!-- TODO: fixed Tournament!! -->
              <td><%= table.get_player_standing_at_table_in_current_phase(params[:id], Tournament.first.get_current_phase) %></td> <!-- TODO: as above -->
            </tr>
          <% end %>
        </tbody>
      </table>
    </div>
  </div>
</div>