<div class="container">
  <%= form_for(@match, url: tournament_matches_path) do |f| %>
    <div class="form">
      <%= f.label :table %><br>
      <%= f.select :table, options_from_collection_for_select(Table.all, :id, :name) %>
    </div>
    <div id="players_form" class="form">
      <%= f.label :users %><br>
      <div id="players">
        <div id="player">
          <%= f.select :users, options_from_collection_for_select(User.joins(:roles).where('roles.name' => 'Player'), :id, :get_player_full_name),
                       {}, { name: 'match[users][]', id: 'player1' } %>

        </div>
      </div>
<!--      <div>
        <button class="btn btn-primary" id="addPlayer">Add player</button>
      </div>-->
    </div>
      <%= f.submit class: 'btn btn-primary btn-large' %>
  <% end %>
</div>