<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @nationality.name %>
</p>

<p>
  <strong>Flag image:</strong>
  <%= image_tag @nationality.flag_img_path, size: "40x30" %>
</p>

<%= link_to 'Edit', edit_nationality_path(@nationality) %> |
<%= link_to 'Back', nationalities_path %>
